
/*----Default CSS */
html {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 86, 138);

}
/* end of default CSS*/

/* grid 30-70 */
.grid30-70 {  
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1em;

}

.grid30-70 > div {
    background-color:rgb(255, 237, 134);
    padding: 1em;
    border: brown 2px dashed;

}
.gridFractions {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr);
    grid-gap: 1em;
    display: flex;
}
.gridFraction > div {
background-color: gold;
border: brown 2px dashed;
padding: 1em;
}

/* end of grid 30-70 */

/* main body container */

/* ---- Default CSS -- */

/* --- Header --- */

/* --- Navigation --- */
nav {
    background-color: purple;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

nav > div {
    background-color: coral;
}

.menu {
    background-color: darkslategray;
    padding: 1em;
}

.menu li {
    display: inline;
    list-style-type: none;
    background-color: aliceblue;
}

/* --- End of Nav --- */

/* --- End of Header --- */

/* --- Main --- */
main {
    background-color: yellow;
}

/* ---  End of Main--- */

/* --- Footer --- */
footer {
    background-color: blue;
}
/* --- End of Footer--- */